## Python Variables

In [1]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [2]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [3]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x, y, z)

3 3 3.0

In [4]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [5]:
x = "John"
# is the same as
x = 'John'
print(x)

John

In [6]:
a = 4
A = "Sally"
#A will not overwrite a
print(a, A)

4 Sally

In [7]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [8]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [9]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [10]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [11]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [12]:
x = 5
y = 10
print(x + y)

15

## Python Functions

In [13]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [14]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is really " + x)

myfunc()

print("Python is " + x)

Python is really fantastic
Python is awesome

In [15]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [16]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

## Map Function

In [17]:
def even_odd(number):
    if number % 2 == 0:
        return "The number {} is even".format(number)
    else:
        return "The number {} is odd".format(number)

numbers = (2, 4, 19, 24, 73, 892, 627, 245)
result = list(map(even_odd, numbers))
print(result)

['The number 2 is even', 'The number 4 is even', 'The number 19 is odd', 'The number 24 is even', 'The number 73 is odd', 'The number 892 is even', 'The number 627 is odd', 'The number 245 is odd']

In [18]:
def addition(n):
    return n + n
 
# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

## Lambda Function

In [19]:
add = lambda x,y: x + y
print(add(2,7))

9

In [20]:
compound = lambda x: x * x
listt = [1, 2, 3, 4]
squared_list = list(map(compound, listt))
print(squared_list)

[1, 4, 9, 16]

In [21]:
even_odd_new = lambda x: x % 2 == 0
listarray = [2, 89, 63, 96, 109]
result_array = list(map(even_odd_new, listarray))
print(result_array)

[True, False, False, True, False]

In [25]:
addandmap = lambda x, y: x + y
listone = [2, 89, 63, 96, 109]
listtwo = [3, 18, 97, 425, 9266]
result_add_array = list(map(addandmap, listone, listtwo))
print(result_add_array)

[5, 107, 160, 521, 9375]

## Python Classes and Objects

### Classes

In [2]:
class Name:
    print('My name is Rohit')

p1 = Name()
print(p1)

My name is Rohit
<__main__.Name object at 0x0000019A3060CDC0>

In [10]:
class Person:
    def __init__(self, name):
        self.name = 'Rohit'
        print(self.name)

p2 = Person('Hitman')
print(p2)

Rohit
<__main__.Person object at 0x0000019A3056B520>

In [3]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print('My name is {} and my age is {}'.format(self.name, self.age))

p2 = Person('Rohit', 25)
print(p2)

My name is Rohit and my age is 25
<__main__.Person object at 0x000001DC8C314D30>

### Objects

In [9]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)
    
    def myAge(self):
        print("Hello my age is " + str(self.age))

p1 = Person("John", 36)
p1.myAge()

Hello my age is 36

In [10]:
class Person:
    def __init__(mysillyobject, name, age):
        mysillyobject.name = name
        mysillyobject.age = age

    def myfunc(abc):
        print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [13]:
class Person:
    def __init__(mysillyobject, name, age):
        mysillyobject.name = name
        mysillyobject.age = age

    def myfunc(abc):
        print("Hello my name is " + abc.name)

p1 = Person("John", 36)
print('Name:', p1.name, 'Age:', p1.age)

Name: John Age: 36

## Inheritance

### Single Inheritance

In [22]:
class Vehicles:
    def __init__(self, company, model):
        self.company = company
        self.model = model
    
    def cardetails(self):
        print(self.company, self.model)
        
class Cars(Vehicles):
    def __init__(self, company, model):
        Vehicles.__init__(self, company, model)
        
x = Cars("Tata", "Nexon")
x.cardetails()

Tata Nexon

In [23]:
class Vehicles:
    def __init__(self, company, model):
        self.company = company
        self.model = model
    
    def cardetails(self):
        print(self.company, self.model)
        
class Cars(Vehicles):
    def __init__(self, company, model):
        #super() function make the child class inherit all the methods and properties from its parent.
        super().__init__(company, model)
        
x = Cars("Tata", "Nexon")
x.cardetails()

Tata Nexon

In [24]:
class Vehicles:
    def __init__(self, company, model):
        self.company = company
        self.model = model
    
    def cardetails(self):
        print(self.company, self.model)
        
    def carname(self):
        print(self.model)
        
class Cars(Vehicles):
    def __init__(self, company, model):
        super().__init__(company, model)
        
x = Cars("Tata", "Harrier")
x.carname()

Harrier

In [26]:
class Vehicles:
    def __init__(self, company, model):
        self.company = company
        self.model = model
    
    def cardetails(self):
        print(self.company, self.model)
        
class Cars(Vehicles):
    def __init__(self, company, model):
        super().__init__(company, model)
        self.fueltype = 'Petrol' 
        
x = Cars("Tata", "Harrier")
print(x.fueltype)

Petrol

### Multiple Inheritance

In [35]:
class Vehicles:
    def __init__(self, company, model):
        self.company = company
        self.model = model
    
    def cardetails(self):
        print(self.company, self.model)
        
class Cars:
    def __init__(self, company, model):
        super().__init__(company, model) 
    
    def fuel(self):
        print('fueltype')
        
class VehicleData(Vehicles, Cars):
    def __init__(self, company, model, fueltype):
        Vehicles.__init__(self, company, model)
        self.fueltype = 'Petrol'
    
    def car(self):
        print('Self:', self)

y = VehicleData("Tesla", "Model S", "Diesel")
print(f"My electric car's battery capacity is {y.fueltype}.")
y.car()
y.fuel()

My electric car's battery capacity is Petrol.
Self: <__main__.VehicleData object at 0x000001DC8C8E0130>
fueltype

### Multilevel Inheritance

In [1]:
class Base:
    # Constructor to set Data
    def __init__(self, name, roll, role):
        self.name = name
        self.roll = roll
        self.role = role
 
# Intermediate Class: Inherits the Base Class
class Intermediate(Base):
    # Constructor to set age
    def __init__(self, age, name, roll, role):
        super().__init__(name, roll, role)
        self.age = age
 
# Derived Class: Inherits the Intermediate Class
class Derived(Intermediate):
    # Method to Print Data
    def __init__(self, age, name, roll, role):
        super().__init__(age, name, roll, role)
 
    def Print_Data(self):
        print(f"The Name is : {self.name}")
        print(f"The Age is : {self.age}")
        print(f"The role is : {self.role}")
        print(f"The Roll is : {self.roll}")
 
# Creating Object of Base Class
obj = Derived(21, "Lokesh Singh", 25, "Software Trainer")
 
# Printing the data with the help of derived class
obj.Print_Data()

The Name is : Lokesh Singh
The Age is : 21
The role is : Software Trainer
The Roll is : 25

In [2]:
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        pass  # Placeholder method


class Dog(Animal):
    def speak(self):
        return f"{self.name} says Woof!"


class Labrador(Dog):
    def speak(self):
        return f"{self.name} says Woof Woof!"

# Usage
animal = Animal("Generic Animal")
print(animal.speak())  # Output: None (placeholder method)

dog = Dog("Buddy")
print(dog.speak())  # Output: Buddy says Woof!

labrador = Labrador("Max")
print(labrador.speak())  # Output: Max says Woof Woof!

None
Buddy says Woof!
Max says Woof Woof!

In [18]:
class Vehicle:
    def __init__(self, reg_number, vin):
        self.reg_number = reg_number
        self.vin = vin
    
class Truck(Vehicle):
    def TruckDetails(self):
#         super().__init__(reg_number, vin)
        print('The registraion number is {} and vin number is {}'.format(self.reg_number, self.vin))

class Model(Truck):
    def __init__(self, reg_number, vin, model):  
        super().__init__(reg_number, vin) 
        self.model = model
    
    def ModelDetails(self):
        print('The model of the vehicle is {} with registration number {} and VIN number {}'.format(self.model, self.reg_number, self.vin))
        
vehicle = Vehicle('MH00YU7871', 'VIN098715IO9019')

truck_details = Truck('MH00YU7871', 'VIN098715IO9019')
print(truck_details.TruckDetails()) 

truck_model = Model('MH00YU7871', 'VIN098715IO9019', 'YODHA 15 S')
print(truck_model.ModelDetails())

The registraion number is MH00YU7871 and vin number is VIN098715IO9019
None
The model of the vehicle is YODHA 15 S with registration number MH00YU7871 and VIN number VIN098715IO9019
None

### Hierarchical Inheritance

In [3]:
class Shape:
    def __init__(self, color):
        self.color = color

    def draw(self):
        return f"Drawing a {self.color} shape"


class Circle(Shape):
    def __init__(self, color, radius):
        super().__init__(color)
        self.radius = radius

    def draw(self):
        return f"Drawing a {self.color} circle with radius {self.radius}"


class Rectangle(Shape):
    def __init__(self, color, width, height):
        super().__init__(color)
        self.width = width
        self.height = height

    def draw(self):
        return f"Drawing a {self.color} rectangle with width {self.width} and height {self.height}"


# Usage
circle = Circle("red", 5)
print(circle.draw())  # Output: Drawing a red circle with radius 5

rectangle = Rectangle("blue", 3, 4)
print(rectangle.draw())  # Output: Drawing a blue rectangle with width 3 and height 4

Drawing a red circle with radius 5
Drawing a blue rectangle with width 3 and height 4

In [4]:
class Vehicle:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def display_info(self):
        return f"{self.brand} {self.model}"


class Car(Vehicle):
    def __init__(self, brand, model, fuel_type):
        super().__init__(brand, model)
        self.fuel_type = fuel_type

    def display_info(self):
        return f"{super().display_info()}, Fuel Type: {self.fuel_type}"


class Motorcycle(Vehicle):
    def __init__(self, brand, model, engine_capacity):
        super().__init__(brand, model)
        self.engine_capacity = engine_capacity

    def display_info(self):
        return f"{super().display_info()}, Engine Capacity: {self.engine_capacity}cc"


# Usage
car = Car("Toyota", "Camry", "Petrol")
print(car.display_info())  # Output: Toyota Camry, Fuel Type: Petrol

motorcycle = Motorcycle("Honda", "CBR500R", 500)
print(motorcycle.display_info())  # Output: Honda CBR500R, Engine Capacity: 500cc

Toyota Camry, Fuel Type: Petrol
Honda CBR500R, Engine Capacity: 500cc

### Hybrid Inheritance

In [7]:
class Animal:
    def speak(self):
        print("Animal speaks")


class Mammal(Animal):
    def give_birth(self):
        print("Mammal gives birth")


class Bird(Animal):
    def lay_eggs(self):
        print("Bird lays eggs")


class Platypus(Mammal, Bird):
    pass


platypus = Platypus()
platypus.speak()        # Method from Animal class
platypus.give_birth()   # Method from Mammal class
platypus.lay_eggs()    # Method from Bird class

Animal speaks
Mammal gives birth
Bird lays eggs

In [8]:
class Vehicle:
    def move(self):
        print("Vehicle moves")


class Car(Vehicle):
    def drive(self):
        print("Car drives")


class Boat(Vehicle):
    def sail(self):
        print("Boat sails")


class AmphibiousVehicle(Car, Boat):
    def amphibious_action(self):
        print("Amphibious vehicle can both drive and sail")


amphibious_vehicle = AmphibiousVehicle()
amphibious_vehicle.move()
amphibious_vehicle.drive()
amphibious_vehicle.sail()
amphibious_vehicle.amphibious_action()

Vehicle moves
Car drives
Boat sails
Amphibious vehicle can both drive and sail

# List

In [1]:
list = ['India', 'Afghanistan', 'South Africa', 'England']

In [3]:
list.insert(2, 'West Indies')

In [4]:
list

['India', 'Afghanistan', 'West Indies', 'South Africa', 'England']

In [5]:
list[4]='Sri Lanka'

In [6]:
list

['India', 'Afghanistan', 'West Indies', 'South Africa', 'Sri Lanka']

In [10]:
list.pop(4)

'Sri Lanka'

In [11]:
list

['India', 'Afghanistan', 'West Indies', 'South Africa']

In [12]:
list[2]

'West Indies'

In [14]:
list.remove('South Africa')

In [15]:
list

['India', 'Afghanistan', 'West Indies']

In [18]:
list1 = ['South Africa', 'Sri Lanka']

In [20]:
list = list.extend(list1)

In [23]:
print(list)

None

In [24]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

In [25]:
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

# Tuple

In [26]:
tup = ("apple", "banana", "cherry")

In [27]:
tup

('apple', 'banana', 'cherry')

In [28]:
tup[0]

'apple'

# Set

In [29]:
thisset = {"apple", "banana", "cherry", "apple"}

In [30]:
thisset

{'apple', 'banana', 'cherry'}

In [31]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

In [32]:
thisset

{'apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple'}

In [33]:
thisset.remove('cherry')

In [34]:
thisset

{'apple', 'banana', 'mango', 'papaya', 'pineapple'}

In [35]:
thisset.clear()

In [36]:
thisset

set()

In [40]:
thisset = {"apple", "banana", "cherry", "apple"}
del thisset

In [42]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 'b', 3, 'John', 'bananas', 'Elena', 'apple', 'cherry', 'a', 'c'}

# Dictionary

In [43]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [44]:
print(thisdict["brand"])

Ford

# Web Scraping

In [80]:
import requests
from bs4 import BeautifulSoup

# URL of the webpage you want to scrape
url = 'https://en.wikipedia.org/wiki/History_of_India#:~:text=The%20earliest%20known%20human%20remains,Pakistan%20and%20north%2Dwestern%20India.'

# Send a GET request to the URL
response = requests.get(url)

# Parse the HTML content
soup = BeautifulSoup(response.text, 'html.parser')

# Find all elements with the specified class (adjust as per the HTML structure of your target website)
articles = soup.find_all('p')


# Loop through each article and extract the title
para = ""
for lines in content:
    para += lines.text
    print(para)
    print(lines)
    h2 = soup.select_one('h2')
    print(h2.text)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [75]:
# print(soup)

In [89]:
import requests
from bs4 import BeautifulSoup

# URL of the Wikipedia page
url = "https://en.wikipedia.org/wiki/India"

# Send a request to the webpage
response = requests.get(url)

# Parse the content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Extract the main content of the article
content = soup.find_all('p')

# Combine all paragraphs into one string
paragraph = ""
for lines in content:
    paragraph += lines.get_text()

# Print the extracted text
print(paragraph)

links = soup.find_all('a')
# for link in links:
    # print(f'Link: {link.get("href")}, Text: {link.get_text()}')

India, officially the Republic of India (ISO: Bhārat Gaṇarājya),[21] is a country in South Asia.  It is the seventh-largest country by area; the most populous country as of June 2023;[22][23] and from the time of its independence in 1947, the world's most populous democracy.[24][25][26] It is physiographically bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, the Bay of Bengal on the southeast, and High-mountain Asia on the northeast. It shares land borders with Pakistan to the northwest;[j] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia.
Modern humans arrived on the Indian subcontinent from Africa no later than 55,000 years ago.[27][28][29]
Their long occupation, initially in varying forms of isolation as hunter-gatherers, has made the region highly diverse, second only to Africa in human genetic diversity.[30] Settled life emerged on the subcontinent in the western margins of the Indus river basin 9,000 years ago, evolving gradually into the Indus Valley Civilisation of the third millennium BCE.[31]
By 1200 BCE, an archaic form of Sanskrit, an Indo-European language, had diffused into India from the northwest.[32][33] Its evidence today is found in the hymns of the Rigveda. Preserved by an oral tradition that was resolutely vigilant, the Rigveda records the dawning of Hinduism in India.[34] The Dravidian languages of India were supplanted in the northern and western regions.[35]
By 400 BCE, stratification and exclusion by caste had emerged within Hinduism,[36]
and Buddhism and Jainism had arisen, proclaiming social orders unlinked to heredity.[37]
Early political consolidations gave rise to the loose-knit Maurya and Gupta Empires based in the Ganges Basin.[38]
Their collective era was suffused with wide-ranging creativity,[39] but also marked by the declining status of women,[40] and the incorporation of untouchability into an organised system of belief.[k][41] In South India, the Middle kingdoms exported Dravidian-languages scripts and religious cultures to the kingdoms of Southeast Asia.[42]
In the early medieval era, Christianity, Islam, Judaism, and Zoroastrianism became established on India's southern and western coasts.[43]
Muslim armies from Central Asia intermittently overran India's northern plains,[44]
eventually founding the Delhi Sultanate, and drawing northern India into the cosmopolitan networks of medieval Islam.[45]
In the 15th century, the Vijayanagara Empire created a long-lasting composite Hindu culture in south India.[46]
In the Punjab, Sikhism emerged, rejecting institutionalised religion.[47]
The Mughal Empire, in 1526, ushered in two centuries of relative peace,[48]
leaving a legacy of luminous architecture.[l][49]
Gradually expanding rule of the British East India Company followed, turning India into a colonial economy, but also consolidating its sovereignty.[50] British Crown rule began in 1858. The rights promised to Indians were granted slowly,[51][52] but technological changes were introduced, and modern ideas of education and the public life took root.[53] A pioneering and influential nationalist movement emerged, which was noted for nonviolent resistance and became the major factor in ending British rule.[54][55] In 1947 the British Indian Empire was partitioned into two independent dominions,[56][57][58][59] a Hindu-majority Dominion of India and a Muslim-majority Dominion of Pakistan, amid large-scale loss of life and an unprecedented migration.[60]
India has been a federal republic since 1950, governed through a democratic parliamentary system. It is a pluralistic, multilingual and multi-ethnic society. India's population grew from 361 million in 1951 to almost 1.4 billion in 2022.[61]
During the same time, its nominal per capita income increased from US$64 annually to US$2,601, and its literacy rate from 16.6% to 74%. From being a comparatively destitute country in 1951,[62] India has become a fast-growing major economy and a hub for information technology services, with an expanding middle class.[63] India has a space programme with several planned or completed extraterrestrial missions. Indian movies, music, and spiritual teachings play an increasing role in global culture.[64] India has substantially reduced its rate of poverty, though at the cost of increasing economic inequality.[65] India is a nuclear-weapon state, which ranks high in military expenditure. It has disputes over Kashmir with its neighbours, Pakistan and China, unresolved since the mid-20th century.[66] Among the socio-economic challenges India faces are gender inequality, child malnutrition,[67] and rising levels of air pollution.[68] India's land is megadiverse, with four biodiversity hotspots.[69] Its forest cover comprises 21.7% of its area.[70] India's wildlife, which has traditionally been viewed with tolerance in India's culture,[71] is supported among these forests, and elsewhere, in protected habitats.
According to the Oxford English Dictionary (third edition 2009), the name "India" is derived from the Classical Latin India, a reference to South Asia and an uncertain region to its east. In turn the name "India" derived successively from Hellenistic Greek India ( Ἰνδία), ancient Greek Indos ( Ἰνδός), Old Persian Hindush (an eastern province of the Achaemenid Empire), and ultimately its cognate, the Sanskrit Sindhu, or "river", specifically the Indus River and, by implication, its well-settled southern basin.[72][73] The ancient Greeks referred to the Indians as Indoi (Ἰνδοί), which translates as "The people of the Indus".[74]
The term Bharat (Bhārat; pronounced [ˈbʱaːɾət] ⓘ), mentioned in both Indian epic poetry and the Constitution of India,[75][76] is used in its variations by many Indian languages. A modern rendering of the historical name Bharatavarsha, which applied originally to North India,[77][78] Bharat gained increased currency from the mid-19th century as a native name for India.[75][79]
Hindustan ([ɦɪndʊˈstaːn] ⓘ) is a Middle Persian name for India that became popular by the 13th century,[80] and was used widely since the era of the Mughal Empire. The meaning of Hindustan has varied, referring to a region encompassing present-day northern India and Pakistan or to India in its near entirety.[75][79][81]
By 55,000 years ago, the first modern humans, or Homo sapiens, had arrived on the Indian subcontinent from Africa, where they had earlier evolved.[27][28][29] The earliest known modern human remains in South Asia date to about 30,000 years ago.[27] After 6500 BCE, evidence for domestication of food crops and animals, construction of permanent structures, and storage of agricultural surplus appeared in Mehrgarh and other sites in Balochistan, Pakistan.[83] These gradually developed into the Indus Valley Civilisation,[84][83] the first urban culture in South Asia,[85] which flourished during 2500–1900 BCE in Pakistan and western India.[86] Centred around cities such as Mohenjo-daro, Harappa, Dholavira, and Kalibangan, and relying on varied forms of subsistence, the civilisation engaged robustly in crafts production and wide-ranging trade.[85]
During the period 2000–500 BCE, many regions of the subcontinent transitioned from the Chalcolithic cultures to the Iron Age ones.[87] The Vedas, the oldest scriptures associated with Hinduism,[88] were composed during this period,[89] and historians have analysed these to posit a Vedic culture in the Punjab region and the upper Gangetic Plain.[87] Most historians also consider this period to have encompassed several waves of Indo-Aryan migration into the subcontinent from the north-west.[88] The caste system, which created a hierarchy of priests, warriors, and free peasants, but which excluded indigenous peoples by labelling their occupations impure, arose during this period.[90] On the Deccan Plateau, archaeological evidence from this period suggests the existence of a chiefdom stage of political organisation.[87] In South India, a progression to sedentary life is indicated by the large number of megalithic monuments dating from this period,[91] as well as by nearby traces of agriculture, irrigation tanks, and craft traditions.[91]
In the late Vedic period, around the 6th century BCE, the small states and chiefdoms of the Ganges Plain and the north-western regions had consolidated into 16 major oligarchies and monarchies that were known as the mahajanapadas.[92][93] The emerging urbanisation gave rise to non-Vedic religious movements, two of which became independent religions. Jainism came into prominence during the life of its exemplar, Mahavira.[94] Buddhism, based on the teachings of Gautama Buddha, attracted followers from all social classes excepting the middle class; chronicling the life of the Buddha was central to the beginnings of recorded history in India.[95][96][97] In an age of increasing urban wealth, both religions held up renunciation as an ideal,[98] and both established long-lasting monastic traditions. Politically, by the 3rd century BCE, the kingdom of Magadha had annexed or reduced other states to emerge as the Mauryan Empire.[99] The empire was once thought to have controlled most of the subcontinent except the far south, but its core regions are now thought to have been separated by large autonomous areas.[100][101] The Mauryan kings are known as much for their empire-building and determined management of public life as for Ashoka's renunciation of militarism and far-flung advocacy of the Buddhist dhamma.[102][103]
The Sangam literature of the Tamil language reveals that, between 200 BCE and 200 CE, the southern peninsula was ruled by the Cheras, the Cholas, and the Pandyas, dynasties that traded extensively with the Roman Empire and with West and Southeast Asia.[104][105] In North India, Hinduism asserted patriarchal control within the family, leading to increased subordination of women.[106][99] By the 4th and 5th centuries, the Gupta Empire had created a complex system of administration and taxation in the greater Ganges Plain; this system became a model for later Indian kingdoms.[107][108] Under the Guptas, a renewed Hinduism based on devotion, rather than the management of ritual, began to assert itself.[109] This renewal was reflected in a flowering of sculpture and architecture, which found patrons among an urban elite.[108] Classical Sanskrit literature flowered as well, and Indian science, astronomy, medicine, and mathematics made significant advances.[108]
The Indian early medieval age, from 600 to 1200 CE, is defined by regional kingdoms and cultural diversity.[110] When Harsha of Kannauj, who ruled much of the Indo-Gangetic Plain from 606 to 647 CE, attempted to expand southwards, he was defeated by the Chalukya ruler of the Deccan.[111] When his successor attempted to expand eastwards, he was defeated by the Pala king of Bengal.[111] When the Chalukyas attempted to expand southwards, they were defeated by the Pallavas from farther south, who in turn were opposed by the Pandyas and the Cholas from still farther south.[111] No ruler of this period was able to create an empire and consistently control lands much beyond their core region.[110] During this time, pastoral peoples, whose land had been cleared to make way for the growing agricultural economy, were accommodated within caste society, as were new non-traditional ruling classes.[112] The caste system consequently began to show regional differences.[112]
In the 6th and 7th centuries, the first devotional hymns were created in the Tamil language.[113] They were imitated all over India and led to both the resurgence of Hinduism and the development of all modern languages of the subcontinent.[113] Indian royalty, big and small, and the temples they patronised drew citizens in great numbers to the capital cities, which became economic hubs as well.[114] Temple towns of various sizes began to appear everywhere as India underwent another urbanisation.[114] By the 8th and 9th centuries, the effects were felt in Southeast Asia, as South Indian culture and political systems were exported to lands that became part of modern-day Myanmar, Thailand, Laos, Brunei, Cambodia, Vietnam, Philippines, Malaysia, and Indonesia.[115] Indian merchants, scholars, and sometimes armies were involved in this transmission; Southeast Asians took the initiative as well, with many sojourning in Indian seminaries and translating Buddhist and Hindu texts into their languages.[115]
After the 10th century, Muslim Central Asian nomadic clans, using swift-horse cavalry and raising vast armies united by ethnicity and religion, repeatedly overran South Asia's north-western plains, leading eventually to the establishment of the Islamic Delhi Sultanate in 1206.[116] The sultanate was to control much of North India and to make many forays into South India. Although at first disruptive for the Indian elites, the sultanate largely left its vast non-Muslim subject population to its own laws and customs.[117][118] By repeatedly repulsing Mongol raiders in the 13th century, the sultanate saved India from the devastation visited on West and Central Asia, setting the scene for centuries of migration of fleeing soldiers, learned men, mystics, traders, artists, and artisans from that region into the subcontinent, thereby creating a syncretic Indo-Islamic culture in the north.[119][120] The sultanate's raiding and weakening of the regional kingdoms of South India paved the way for the indigenous Vijayanagara Empire.[121] Embracing a strong Shaivite tradition and building upon the military technology of the sultanate, the empire came to control much of peninsular India,[122] and was to influence South Indian society for long afterwards.[121]
In the early 16th century, northern India, then under mainly Muslim rulers,[123] fell again to the superior mobility and firepower of a new generation of Central Asian warriors.[124] The resulting Mughal Empire did not stamp out the local societies it came to rule. Instead, it balanced and pacified them through new administrative practices[125][126] and diverse and inclusive ruling elites,[127] leading to more systematic, centralised, and uniform rule.[128] Eschewing tribal bonds and Islamic identity, especially under Akbar, the Mughals united their far-flung realms through loyalty, expressed through a Persianised culture, to an emperor who had near-divine status.[127] The Mughal state's economic policies, deriving most revenues from agriculture[129] and mandating that taxes be paid in the well-regulated silver currency,[130] caused peasants and artisans to enter larger markets.[128] The relative peace maintained by the empire during much of the 17th century was a factor in India's economic expansion,[128] resulting in greater patronage of painting, literary forms, textiles, and architecture.[131] Newly coherent social groups in northern and western India, such as the Marathas, the Rajputs, and the Sikhs, gained military and governing ambitions during Mughal rule, which, through collaboration or adversity, gave them both recognition and military experience.[132] Expanding commerce during Mughal rule gave rise to new Indian commercial and political elites along the coasts of southern and eastern India.[132] As the empire disintegrated, many among these elites were able to seek and control their own affairs.[133]
By the early 18th century, with the lines between commercial and political dominance being increasingly blurred, a number of European trading companies, including the English East India Company, had established coastal outposts.[134][135] The East India Company's control of the seas, greater resources, and more advanced military training and technology led it to increasingly assert its military strength and caused it to become attractive to a portion of the Indian elite; these factors were crucial in allowing the company to gain control over the Bengal region by 1765 and sideline the other European companies.[136][134][137][138] Its further access to the riches of Bengal and the subsequent increased strength and size of its army enabled it to annex or subdue most of India by the 1820s.[139] India was then no longer exporting manufactured goods as it long had, but was instead supplying the British Empire with raw materials. Many historians consider this to be the onset of India's colonial period.[134] By this time, with its economic power severely curtailed by the British parliament and having effectively been made an arm of British administration, the East India Company began more consciously to enter non-economic arenas, including education, social reform, and culture.[140]
Historians consider India's modern age to have begun sometime between 1848 and 1885. The appointment in 1848 of Lord Dalhousie as Governor General of the East India Company set the stage for changes essential to a modern state. These included the consolidation and demarcation of sovereignty, the surveillance of the population, and the education of citizens. Technological changes—among them, railways, canals, and the telegraph—were introduced not long after their introduction in Europe.[141][142][143][144] However, disaffection with the company also grew during this time and set off the Indian Rebellion of 1857. Fed by diverse resentments and perceptions, including invasive British-style social reforms, harsh land taxes, and summary treatment of some rich landowners and princes, the rebellion rocked many regions of northern and central India and shook the foundations of Company rule.[145][146] Although the rebellion was suppressed by 1858, it led to the dissolution of the East India Company and the direct administration of India by the British government. Proclaiming a unitary state and a gradual but limited British-style parliamentary system, the new rulers also protected princes and landed gentry as a feudal safeguard against future unrest.[147][148] In the decades following, public life gradually emerged all over India, leading eventually to the founding of the Indian National Congress in 1885.[149][150][151][152]
The rush of technology and the commercialisation of agriculture in the second half of the 19th century was marked by economic setbacks, and many small farmers became dependent on the whims of far-away markets.[153] There was an increase in the number of large-scale famines,[154] and, despite the risks of infrastructure development borne by Indian taxpayers, little industrial employment was generated for Indians.[155] There were also salutary effects: commercial cropping, especially in the newly canalled Punjab, led to increased food production for internal consumption.[156] The railway network provided critical famine relief,[157] notably reduced the cost of moving goods,[157] and helped nascent Indian-owned industry.[156]
After World War I, in which approximately one million Indians served,[158] a new period began. It was marked by British reforms but also repressive legislation, by more strident Indian calls for self-rule, and by the beginnings of a nonviolent movement of non-co-operation, of which Mahatma Gandhi would become the leader and enduring symbol.[159] During the 1930s, slow legislative reform was enacted by the British; the Indian National Congress won victories in the resulting elections.[160] The next decade was beset with crises: Indian participation in World War II, the Congress's final push for non-co-operation, and an upsurge of Muslim nationalism. All were capped by the advent of independence in 1947, but tempered by the partition of India into two states: India and Pakistan.[161]

In [90]:
import pandas as pd

In [104]:
df = pd.read_csv(r'C:\\Users\\Admin\\Desktop\\Rohit\\MachineLearning\\python-practice\\Notebooks\\bank.csv', sep=';')

In [105]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [106]:
df.isnull()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
41184,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
41185,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
41186,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
41187,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [107]:
categorical_cols = df.select_dtypes(include=['object']).columns
print("Categorical columns:", categorical_cols)

Categorical columns: Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'day_of_week', 'poutcome', 'y'],
      dtype='object')

In [108]:
df[categorical_cols].isnull()

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome,y
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
41183,False,False,False,False,False,False,False,False,False,False,False
41184,False,False,False,False,False,False,False,False,False,False,False
41185,False,False,False,False,False,False,False,False,False,False,False
41186,False,False,False,False,False,False,False,False,False,False,False
41187,False,False,False,False,False,False,False,False,False,False,False

In [109]:
df_new = pd.get_dummies(df, columns=['education'])

In [110]:
df_new

,age,job,marital,default,housing,loan,contact,month,day_of_week,duration,...,nr.employed,y,education_basic.4y,education_basic.6y,education_basic.9y,education_high.school,education_illiterate,education_professional.course,education_university.degree,education_unknown
0,56,housemaid,married,no,no,no,telephone,may,mon,261,...,5191.0,no,True,False,False,False,False,False,False,False
1,57,services,married,unknown,no,no,telephone,may,mon,149,...,5191.0,no,False,False,False,True,False,False,False,False
2,37,services,married,no,yes,no,telephone,may,mon,226,...,5191.0,no,False,False,False,True,False,False,False,False
3,40,admin.,married,no,no,no,telephone,may,mon,151,...,5191.0,no,False,True,False,False,False,False,False,False
4,56,services,married,no,no,yes,telephone,may,mon,307,...,5191.0,no,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,no,yes,no,cellular,nov,fri,334,...,4963.6,yes,False,False,False,False,False,True,False,False
41184,46,blue-collar,married,no,no,no,cellular,nov,fri,383,...,4963.6,no,False,False,False,False,False,True,False,False
41185,56,retired,married,no,yes,no,cellular,nov,fri,189,...,4963.6,no,False,False,False,False,False,False,True,False
41186,44,technician,married,no,no,no,cellular,nov,fri,442,...,4963.6,yes,False,False,False,False,False,True,False,False
41187,74,retired,married,no,yes,no,cellular,nov,fri,239,...,4963.6,no,False,False,False,False,False,True,False,False

In [111]:
df['education']

0                   basic.4y
1                high.school
2                high.school
3                   basic.6y
4                high.school
                ...
41183    professional.course
41184    professional.course
41185      university.degree
41186    professional.course
41187    professional.course
Name: education, Length: 41188, dtype: object

In [120]:
df.iloc[2:4, 3]

2    high.school
3       basic.6y
Name: education, dtype: object

In [122]:
df = df.rename(columns={'age':'Age'})

In [123]:
df

,Age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [132]:
grouped = df.groupby('Age')['pdays'].mean()

In [133]:
grouped

Age
17    401.600000
18    680.142857
19    809.785714
20    861.400000
21    892.117647
         ...
91    999.000000
92    252.750000
94    999.000000
95    999.000000
98    500.500000
Name: pdays, Length: 78, dtype: float64

In [134]:
def is_palindrome(s):
    # Remove spaces and convert to lowercase
    s = s.replace(" ", "").lower()
    
    # Compare string with its reverse
    return s == s[::-1]

# Test cases
print(is_palindrome("radar"))  # True
print(is_palindrome("level"))  # True
print(is_palindrome("hello"))  # False
print(is_palindrome("A man a plan a canal Panama"))  # True

True
True
False
True

In [137]:
grouped_new = df.groupby('pdays').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [136]:
grouped_new

NameError: name 'grouped_new' is not defined